---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'About';
---
<BaseLayout pageTitle={pageTitle}>
    <div class="flex flex-col items-center space-y-6 sm:space-y-5 text-xl px-[8%] sm:px-[20%] pt-5 pb-12 sm:pt-10 text-gray-800">
        <blockquote class="p-4 my-4 border-s-4 border-gray-300 dark:border-gray-500">
            "Proteus: The Biotechnology Society has a mission to create opportunities for students to responsibly advance 
            their knowledge, skills, collaboration and innovation in biotechnology across areas like synthetic biology, genetic 
            engineering, biomaterials, and more."
        </blockquote>
        <p>
            We aim to enable students at the University of Bristol to learn and demonstrate foundational and advanced knowledge 
            of biotechnology, show proficiency in practical biotechnical work, cultivates an awareness of modern bioanalytical 
            techniques and their limitations, learn to understand a wide range of biotechnical techniques and published literature, 
            learn to apply biotechnical knowledge in an original and self directed manner, communicate biotechnical content by 
            formal reports and oral presentations, manage tasks and work to deadlines as part of a team of biotechnicians, be 
            aware of the best practices in research data management and understand the scientific publishing process within the 
            field of biotechnology, and demonstrate a degree of business awareness of the biotechnology sector. 
        </p>
        <p>
            Key areas of interest include rejuvenation biotechnologies such as cellular therapies to reverse the ageing process; 
            fully immersive and hyper-realistic virtual reality systems that enable enriched experiences and environments; 
            non-invasive brain-computer interfaces to facilitate seamless interactions between the human mind and external systems; 
            replacement organs and cybernetic enhancements using biocompatible materials and synthetic biology; genetic engineering 
            approaches for enhancing rehabilitation and human capacities; cryopreservation of humans for potential future 
            resuscitation; leveraging data analysis, machine learning models, virtual patient representations, and lab 
            automation to advance diagnostics and pharmacology; advanced robotics and artificial intelligence to augment 
            human skills and automate manual tasks; and mind uploading techniques to digitise human consciousness for simulation 
            or integration with other systems
        </p>
        <p>
            Key areas of interest include rejuvenation biotechnologies such as cellular therapies to reverse the ageing process; 
            fully immersive and hyper-realistic virtual reality systems that enable enriched experiences and environments;
            non-invasive brain-computer interfaces to facilitate seamless interactions between the human mind and external systems;
            replacement organs and cybernetic enhancements using biocompatible materials and synthetic biology; genetic engineering
            approaches for enhancing rehabilitation and human capacities; cryopreservation of humans for potential future 
            resuscitation; leveraging data analysis, machine learning models, virtual patient representations, and lab automation to
            advance diagnostics and pharmacology; advanced robotics and artificial intelligence to augment human skills and automate
            manual tasks; and mind uploading techniques to digitise human consciousness for simulation or integration with other
            systems
        </p>
        <p>
            We envision a future where biotechnological innovation allows humanity to overcome current limitations and radically 
            enhance physical, cognitive, and psychological functioning for the betterment of all. Radical advancements gently but 
            decisively achieved in longevity, cognition, capability, and well-being may fundamentally reshape life quality and 
            opportunity. People could experience robust health and vitality lasting centuries, achieve unrivalled memory formations, 
            access immense knowledge databases, communicate concepts without speech, travel and experience immersive virtual 
            worlds, integrate their selfhood into supportive networks, swap biological parts like electronics, slow or pause 
            aging through cellular treatments, pass extreme planetary conditions easily through bio-adaptations, directly expand 
            emotional and sensory capabilities, and integrate their minds into powerful synthetic systems.
        </p>
        <p>
            While realising such incredible futures in a wise, equitable and uplifting manner requires judicious navigation of
            risks, they undeniably signify immense possibility for the human journey ahead, and Proteus aims to play a part in that.
        </p>
    </div>
</BaseLayout>
