---
import { Image } from 'astro:assets';
import navLogoImage from '../images/navLogoImage.png'
---
<header 
	class="bg-[#161617] opacity-80"
>
	<div 
		class="flex flex-row px-[10%] py-3"
	>
	
		<a href="/">
			<Image 
				class="w-5 h-5" 
				src={navLogoImage} 
				alt="Small White Proteus Logo"
			/>
		</a>
	<div>
</header>